#wrapper
  #starting-message.hero-unit
    %h1 Coincidencias
    %p 
      Escoge hasta tres asistentes de
      %strong= "#{@event.name}."
      Recibirás los datos de contacto de aquellos que también te escojan a ti.
    %p
      %a#start.btn.btn-primary.btn-large Comenzar!
  #columns
    - @users.each do |user|
      .pin
        = image_tag user.picture, alt: user.name
        %p
          %strong= user.name
        .btn-group.vote-btn
          %a.btn.btn-primary{ :"data-user" => user.id }
            %i.icon-heart.icon-white
            %span= "Escoger"
        .btn-group.voted-btn
          %a.btn.btn-info
            %i.icon-ok
            %span= "No escoger"
            
#modal{style: "display:none;"}
  Has escogido a
  %span#votes-cast.badge.badge-info X
  participantes.
  Recibirás los datos de contacto de aquellos que también te escojan a ti.

-content_for :javascript do
  :plain
    var remainingVotes = 3;
    $("#start").click(function(e){
      $("#starting-message").hide("slow", function() {
        $("#remaining-votes").parents("li").show(function() {
          resetVoting();
          updateRemainingVotes();
        });
      });
      e.preventDefault();
    });
    $(".vote-btn a").click(function(e) {
      if(remainingVotes > 0) {
        remainingVotes--;
        $(this).parents(".pin").removeClass("ready").addClass("chosen");
        updateRemainingVotes();
      }
      e.preventDefault();
    })
    $(".voted-btn a").click(function(e) {
      $(this).parents(".pin").removeClass("chosen").addClass("ready");
      remainingVotes++;
      updateRemainingVotes();
      e.preventDefault();
    })
    $("#reset-votes").click(function(e) {
      resetVoting();
      e.preventDefault();
    });

    function updateRemainingVotes() {
      $("#remaining-votes").text(remainingVotes).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100, function() {
        if(remainingVotes == 0) {
          $("#votes-cast").text($(".pin.chosen").length);
          $("#modal").dialog({modal: true, width: 400, title: "Confirmar votación", buttons:[ { text: "Confirmar y terminar", click: function() { $( this ).dialog( "close" ); } } ]});
        }
      });
    }

    function resetVoting() {
      remainingVotes = 3;
      $(".pin").removeClass("chosen").addClass("ready");
    }
