#wrapper
  .hero-unit
    %h1 Coincidencias
    %p 
      Escoge hasta tres asistentes de
      %strong= "#{@event.name}."
      Recibirás los datos de contacto de aquellos que también te escojan a ti.
    %p
      %a.btn.btn-primary.btn-large Comenzar!
  #columns
    - @users.each do |user|
      .pin.ready
        = image_tag user.picture, alt: user.name
        %p
          %strong= user.name
        .btn-group.vote-btn
          %a.btn.btn-primary{ :"data-user" => user.id }
            %i.icon-heart.icon-white
            %span= "Escoger"
        .btn-group.voted-btn
          %a.btn.btn-info
            %i.icon-ok
            %span= "No escoger"

-content_for :javascript do
  :plain
    $(".vote-btn a").click(function(e) {
      $(this).parents(".pin").removeClass("ready").addClass("chosen");
      e.preventDefault();
    })
    $(".voted-btn a").click(function(e) {
      $(this).parents(".pin").removeClass("chosen").addClass("ready");
      e.preventDefault();
    })